<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Pinkerton — второй студийный альбом американской рок-группы Weezer, выпущенный 24 сентября 1996 года на лейбле DGC Records. Отказавшись от планов по созданию рок-оперы Songs from the Black Hole, коллектив записал альбом в тот же период, когда автор песен, фронтмен Риверс Куомо, обучался в Гарвардском университете. Отказавшись от найма продюсера, Weezer спродюсировали Pinkerton самостоятельно, создав более мрачный и резкий альбом, чем их одноимённый дебют 1994 года. В текстах Куомо описываются одиночество и разочарование в образе жизни рок-звезды. Альбом назван в честь Б. Ф. Пинкертона, персонажа оперы Джакомо Пуччини «Мадам Баттерфляй»; Куомо назвал этого героя «сволочным американским моряком, похожим на гастролирующую рок-звезду». Как и опера, альбом содержит отсылки к японской культуре.

В поддержку альбома вышло три сингла: «El Scorcho», «The Good Life» и «Pink Triangle». Pinkerton занял 19-ю строчку в американском чарте Billboard 200. Его продажи не оправдали ожиданий, а отзывы критиков были неоднозначными; читатели журнала Rolling Stone поставили его на 3-е место в списке худших альбомов 1996 года. Разочарованный Куомо вернулся к написанию более традиционных поп-песен и к менее личным текстам в последующих альбомах Weezer. Спустя годы после выхода Pinkerton подвергся переоценке и получил признание; несколько изданий назвали его одним из лучших альбомов всех времён и одним из ключевых релизов в истории альтернативной и эмо-музыки, а в 2016 году ему присвоили платиновый статус. Этот альбом Weezer стал последним, в котором принял участие басист Мэтт Шарп.
</body>
</html>