<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ItGid.info - TinyMCE</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="resources/css/style_create.css">

</head>

<body>
    <header class="site-header">
        <a href="/main"><img src="resources/imgs/logo.png" alt="" width="350"></a>
    </header>
    <form th:method="POST" th:action="@{/lk}" th:object="${course}">
    <div class="container">
        <section>
                <textarea id="mytextarea" name="text">
                  Hello, World!
                </textarea>
        </section>
       
        
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Краткая информация о курсе</h5>
                </div>
                <div class="modal-body">
                  <textarea name="short_info" class="course-info"></textarea>
                </div>
                  
                  
                </div>
              </div>
            </div>
          </div>
         <section>
             <button type="submit" class="get-editor-data">Загрузить курс</button>
        </section>
    </form>
    <script src="https://cdn.tiny.cloud/1/t3349wm8jxfh2mrqyd2mfnrm608ttnyliyx5m6kuyf8kl9b1/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea',
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolory | outdent indent',
            plugins: 'code'
        });
    </script>
    <script src="resources/js/app.js"></script>
</body>

</html>