<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <script src="resources/js/script.js"></script>
    <title>ProfTestium</title>
</head>
<body>
<header>
     <div class="container">
        <div class="header_line">
            <img src="resources/imgs/logo.png" alt=""width = "400">
            <div class="nav">
                <a class="nav-item" href="#" onclick="scrollToPartners()">Наши партнеры</a>
                <a class="nav-item" href="#">Курсы</a>
                <a class="nav-item" href="#">Тарифы</a>
            </div>
            <a href="/main/auth"><img src="resources/imgs/user.png" alt=""width="60" height="60"></a>
        </div>
    </div>
</header>

<div class="main">
    <div class="info">
    <p><b>ПрофТестиум -</b> это то, что вы искали!</p>
    </div>
    <div class="woman">
        <img src="resources/imgs/women.png" alt=""width="570" height="870">
        </div>
        <button class="c-button" onclick="scrollToSection()">Начать</button>
</div>
        <section id="section-id">
            <div class="info-next">
                <p><b>На нашем сайте</b> вы сможете создать свою интернет школу, собрать свою первую учебную группу и успешно выпустить её.</p>
            </div>
            <div class="info-next2">
                <p>
                <b>Мы же в свою очередь</b> поможем в ваших начинаниях, будем курировать на протяжении всего проекта, а наш чат-бот ответит на любой ваш вопрос в любое время суток!
                </p>    
            </div>
            
            <div class="logo2">
                <img src="resources/imgs/logo2.png" alt="" width="570" height="670">
                </div>
          </section>
          <div class="title-partners">
            <p>Наши партнеры:</p>
            </div>

            <div class="partners">
          <img src="resources/imgs/misis.png" alt="" width="300" height="300">
          <img src="resources/imgs/gazprom.png" alt="" width="300" height="300">
          <img src="resources/imgs/ogy.png" alt="" width="300" height="300">
            </div>

</body>
</html>