<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/tarifs.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="headerLine">
        <a href="/main"><img src="resources/imgs/logo.png" alt="" width="400px"></a>
    </div>
    </header>
    <div class="main">
        <p>Наши тарифы</p>
    </div>
    <div class="container">
        <div class="rectangle">
          <div class="text"><p>Старт</p></div>
          <div class="text-sell"><p>1950p/мес</p></div>
          <div class="small-text">1500 учеников<br> 50 учеников онлайн<br> 40ГБ для хранения данных</div>
          <div class="button" onclick="window.location='/main'">Оплатить</div>
        </div>
        <div class="rectangle">
            <div class="text"><p>Любитель</p></div>
            <div class="text-sell"><p>4560p/мес</p></div>
            <div class="small-text">3000 учеников<br> 150 учеников онлайн<br> 60ГБ для хранения данных</div>
            <div class="button" onclick="window.location='/main'">Оплатить</div>
        </div>
        <div class="rectangle">
            <div class="text"><p>Профи</p></div>
            <div class="text-sell"><p>11400p/мес</p></div>
            <div class="small-text">10000 учеников<br> 350 учеников онлайн<br> 80ГБ для хранения данных</div>
            <div class="button" onclick="window.location='/main'">Оплатить</div>
        </div>
      </div>
      
      </div>
</body>
</html>